@font-face {
  src: url(./static/fonts/Aladin-Regular.ttf);
  font-family: font-script;
}
@font-face {
  src: url(./static/fonts/Buenard-Regular.ttf);
  font-family: font-primary;
}
@font-face {
  src: url(./static/fonts/Buenard-Bold.ttf);
  font-family: font-primary-bold;
}
@font-face {
  src: url(./static/fonts/Livvic-Regular.ttf);
  font-family: font-secondary;
}
@font-face {
  src: url(./static/fonts/Livvic-Bold.ttf);
  font-family: font-secondary-bold;
}
@font-face {
  src: url(./static/fonts/Livvic-Italic.ttf);
  font-family: font-secondary-italic;
}
